* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #293241;
    flex-direction: column;
}

header {
    width: 80%;
    height: 15%;
}


#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

#intro > h1 {
    font-size: 3.5rem;
    color: #98C1D9;
}

#intro > p {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #E0FBFC;
    font-size: 1.5rem;
}

#intro > div {
    display: flex;
    justify-content: space-between;
    width: 50%
}

#intro > div > *{
    width: 40%;
    height: 80%;
}

.control-btn {
    font-size: 1.2rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
    color:#E0FBFC;
    background-color: #EE6C4D;
    border-radius: 4px;
}

a:link {
    text-decoration: none;
}

a:visited{
    color:#E0FBFC;
}

.control-btn:hover {
    box-shadow: #98C1D9 0 12px 16px, 0 17px 50px 0 #98C1D9;
}

.metrics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:#98C1D9;
    font-size: 2rem;
}

h3 {
    color:#E0FBFC;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#quizContainer {
    width: 80%;
    height: 70%;
}

#question-container {
    margin: 0 auto;
    margin-top: 4rem;
    height: 55%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question-container > h2 {
    color:#E0FBFC;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

#choices {
    display: flex;
    flex-direction: column;
}

#choices > button {
    font-size: 1.2rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
    color:#E0FBFC;
    background-color: #EE6C4D;
    border-radius: 4px;
}

#choices > button:hover {
    box-shadow: #98C1D9 0 10px 12px, 0 12px 20px 0 #98C1D9;
}





.completion-message {
    color:#98C1D9;
    font-size: 3.0rem;
    text-align: center;
}

#inputHS {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.initials-input {
    color:#E0FBFC;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#initials {
    margin-top: 1.5rem;
}

.hidden {
    display: none;
}

/* #submitInitials-btn {
    align-items: center;
} */


/* header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 4px;
    background-color: salmon;
    padding: 10px;
}  */